button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: large;
  padding: 10px;

  border-radius: 20%;
  align-items: center;
  text-align: center;
  min-width: 40%;
}
.answerButton:hover {
  background-color: rgb(82, 75, 75);
}
.startButton {
  background-color: red;
  color: white;
}
.startButton:hover {
  background-color: rgb(215, 114, 114);
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: inherit;
  position: relative;
  margin: auto;
  text-align: center;
}

.content {
  margin: auto;
}

.wrapper {
  margin: auto;
}

.questions {
  text-align: center;
  align-items: center;
  margin: auto;
  font-size: xx-large;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.yellowBorder {
  border: solid 5px yellow;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 650px) {
}